* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#background {
  background-color: #f0f2f5;
}

#root {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 30px;
}

#left {
  flex-grow: 1;
  margin-right: 50px;
}

h1 {
  margin: 50px 0 0 0;
  font-size: 50px;
  color: #1877f2;
}

#left > p {
  font-size: 150%;
}

form {
  width: 350px;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 10px #dddddd;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

button {
  display: block;
  margin: 0 auto 10px auto;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
}

#login {
  width: 100%;
  background-color: #1877f2;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 70%;
}

hr {
  margin: 20px auto;
  border: 1px solid #eeeeee;
}

#create-new-account {
  background-color: #42b72a;
}

#right > p {
  text-align: center;
  font-size: 70%;
}

p {
  color: lightgreen;
}
p .foo {
  color:cornflowerblue;
}
span {
  color: orange;
}
.foo {
  color:gold;
}
#foo2 {
  color:crimson;
  background-color: darkgoldenrod;
}
ul > .foo {
  text-decoration: underline;
}
.content-box {
  border: medium solid gray;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 10px;
}

h2 {
  color:aqua;
}

#playground {
  border: medium solid gray;
  border-radius: 10px;
  margin: 50px 20px;
  padding: 15px;
}

#script {
  border: medium solid gray;
  border-radius: 8px;
  padding: 8px;
}




body {
  background-color: rgba(231, 231, 231, 0.932);
}

#all {
  display:flexbox;
  flex: 2;
}
#container1 {
  margin: 10px 35%;
  al
}
#icon {
  width:80%;
}

#container2 {
  margin: 10px 40%;
  background-color: white;
}

#container2 > div {
  margin: 5px 20%;
}
#b > button {
  background-color: blue;
  color: white;
  text-align: center;
}
#e {
  font-size: 10px;
  color: blue;
}
.border {
  border-bottom: 1px solid orange;
}
#f > button {
  background-color: green;
  color: white;
  text-align: center;
}
.center {
  text-align: center;
}
.inputtext {
  border-radius: 6px;
}
.button {
  border-radius: 6px;
  margin
}
.button:hover {
  background-color: gray;
}